@import "../css/font.css";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.text {
  display: flex;
  font-family: "S-CoreDream-3Light";
  font-size: 14px;
  color: #143578;
}

.box {
  display: flex;
  background-color: #ffffff;
  border-radius: 7px;
  outline-style: none;
  border: none;
  margin-top: 10px;
  padding: 12px;
  height: 21px;
  font-family: "S-CoreDream-3Light";
  font-size: 17px;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.input-inner-box {
  outline-style: none;
  border: none;
  width: 100%;
  height: 100%;
  font-family: "S-CoreDream-3Light";
  font-size: 17px;
  padding: 0px;
  margin-right: 10px;
}

.input-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline-style: none;
  padding: 0px;
}

.input-btn:hover {
  cursor: pointer;
}
.input-btn:hover:after {
  left: 0;
  width: 100%;
}
.input-btn:active {
  margin-top: 2px;
}

.operator-box {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #546ea4;
  border-radius: 10px;
  height: 56px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.operator-inner-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  height: 46px;
}

.operator-btn {
  display: flex;
  outline-style: none;
  border: none;
  background-color: #9cb2df;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding: 8px;
  width: 30px;
  height: 30px;
  font-family: "S-CoreDream-4Regular";
  font-size: 18px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  transition-duration: 0.3s;
}

.operator-btn:hover {
  background-color: #6f8ac3;
  cursor: pointer;
}
.operator-btn:hover:after {
  left: 0;
  width: 100%;
}
.operator-btn:active {
  box-shadow: none;
}

.atc-calculet-input {
}

.atc-calculet-output {
}

.atc-calculet-save {
  display: flex;
  outline-style: none;
  border: none;
  background-color: #9cb2df;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding: 8px;
  width: 100%;
  height: 30px;
  font-family: "S-CoreDream-4Regular";
  font-size: 18px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  transition-duration: 0.3s;
}

.atc-calculet-save:hover {
  background-color: #6f8ac3;
  cursor: pointer;
}

.atc-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  gap: 10px;

  width: 51px;
  height: 37px;

  font-family: "S-CoreDream-5Medium";
  font-size: 12px;
  color: #143578;

  /* white300 */

  background: #ffffff;

  /* opacity100 */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.atc-button:hover {
  background: #143578;
  color: #ffffff;
}

.atc-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;

  width: 317px;
  height: 45px;

  font-family: "S-CoreDream-4Regular";
  font-size: 14px;
  color: #929292bf;

  /* white300 */

  background: #ffffff;
  /* opacity50 */

  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.atc-output {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;

  width: 317px;
  height: 45px;

  font-family: "S-CoreDream-4Regular";
  font-size: 14px;
  color: #929292bf;

  /* white300 */

  background: #ffffff;
  /* opacity50 */

  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
