/* * {
  font-family: "S-CoreDream-4Regular";
} */

*[class^="atc"] {
  box-sizing: border-box;
}

.atc-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  gap: 10px;

  height: 37px;

  font-family: "S-CoreDream-5Medium";
  font-size: 14px;
  color: #143578;

  /* white300 */

  outline-style: none;
  border: none;
  background: #ffffff;

  /* opacity100 */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.atc-button:hover {
  background: #143578;
  color: #ffffff;
  cursor: pointer;
}

.atc-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;

  width: 100%;
  height: 45px;

  font-family: "S-CoreDream-4Regular";
  font-size: 16px;
  color: #000;

  /* white300 */

  background: #ffffff;
  /* opacity50 */

  outline-style: none;
  border: none;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.atc-input:placeholder {
  color: #929292bf;
}

.atc-input:focus {
  outline: none;
}

.atc-output {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;

  width: 100%;
  height: 45px;

  font-family: "S-CoreDream-4Regular";
  font-size: 16px;
  color: #000;

  /* white300 */

  background: #ffffff;
  /* opacity50 */

  border: none;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.atc-output:focus {
  outline: none;
}
